.z-1 {
  z-index: 1;
}

.map-controls {
  width: 100%;
  overflow-y: scroll;
  max-height: 100vh;
  position: absolute;
  z-index: 1;
}

.map-controls > div > div {
  margin: 8px;
}

.event-inputModal > div {
  width: unset;
  position: relative;
}

@media only screen and (min-width: 767px) {
  .map-controls {
    width: 50%;
  }
}

@media only screen and (min-width: 992px) {
  .map-controls {
    width: 40%;
  }
}
